page-home {
    .pac-container, .pac-item {
        width: 100% !important;
    }
    agm-map {
        height: 100%;
    }
    .text-input{
        text-align: left;
    }
    .text-input{
        width: 100%;
    }
    .item-ios [item-right], .item-ios [item-end]{
        margin: 0;
    }
    .button-close{
        font-size: 2rem;
        background: transparent;
    }
    .input-content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border: 1px solid #000;
        padding: 0 10px; 
        margin-bottom: 10px;
        background: transparent;
        margin: 5% 5%;
    }
    //placeholder
    .text-input::-webkit-input-placeholder {
        color: #343434;
        font-size: 1.4rem;
    }
    .text-input:-moz-placeholder { /* Firefox 18- */
        color: #343434;  
        font-size: 1.4rem;
    }
    .text-input::-moz-placeholder {  /* Firefox 19+ */
        color: #343434;  
        font-size: 1.4rem;
    }
    .text-input:-ms-input-placeholder {  
        color: #343434; 
        font-size: 1.4rem;
    } 
    .my-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #4926a8;
        opacity: 0.9;
        z-index: 20;
        top: 0;
        left: 0;
        transition: 2s;
        ion-scroll{
            height: 100%;
        }
    }
    .blur{
        filter: blur(8px);
    }
    // search
    .searchbar{
        background-color: transparent;
    }
    .searchbar .searchbar-input{
        border-radius: 0;
    }
    .search-list{
        .item{
            background-color: transparent;
            padding-left: 0;
        }
        .label{    
            color: #fff;
            padding-left: 10px;
        }
    }
    .pac-container{
        width: 100% !important;
        position: absolute !important;
        top: 106px !important;
        display: block !important;
        height: 100% !important;
        margin: 5% 8% !important;
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }
    .pac-item{
        border: none !important;
        padding: 0 !important;
    }

}
